@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&display=swap');@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Gowun Dodum",sans-serif;
}

p {
    font-family: "Gowun Dodum",sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
    height: 55px;
}

tr:nth-child(even) {
    background-color: #2e2649;
}
  
tr:nth-child(odd) {
    background-color: #423b5b;
}
  
th {
    background-color: #342F44;
    color: white;
}
  
td {
    padding: 0;
    color: #fff;
    font-family: "Gowun Dodum",sans-serif;
}

pre {
    margin: 0;
    white-space: pre-line;
    font-family: "Gowun Dodum",sans-serif;
}

thead {
    overflow-y: hidden;
}

.container {
    margin-top: 2vh;
}

#recipe-table th,td {
    text-align: center;
}

.recipe-detail-table td {
    padding: 0.25rem 1rem;
}

.item-image {
    background-size: cover;
    width: 2rem;
    height: 2rem;
}

.panel-container {
    height: 90vh;
}

.left-panel {
    flex: 1;
    gap: 1rem;
    padding: 20px;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    border-right: 2px solid #ccc;
}

.right-panel {
    flex: 1;
    color: white;
    padding: 20px;
    overflow-y: auto;
    background: linear-gradient(rgba(90, 100, 220), rgba(50, 170, 220));
}

#create-quantity-input-container {
    margin-bottom: 20px;
    font-family: "Gowun Dodum",sans-serif;
}

#create-quantity-input-container input {
    margin: 0 0.5rem;
    width: 3rem;
}

input {
    height: 35px;
    color: white;
    background: none;
    text-align: center;
    transition: width .5s;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 8px;
    font-family: "Gowun Dodum",sans-serif;
}

input::placeholder {
    color: white;
}

#create-quantity-input-container input {
    width: 100px;
    margin-top: 10px;
    margin-left: 0px;
}

#list {
    margin-top: 40px;
}

#tab-efficiency {
    height: 90vh;
    overflow-y: scroll;
}

#efficiency-table {
    margin: 0 auto;
    
}